header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 32px;
  background-color: #dcf1ff;
  color: black;
}
ul{
  list-style: none;
  display: flex;
  gap: 20px;
}
main{
  text-align: center;
}