.follower{
  position: absolute;
  background-color: rgb(0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
}