.App{
  text-align: center;
}
.btnCorrect{
  background-color: rgb(1, 255, 1);
  color: white;
}
.btnIncorrect{
  background-color: red;
  color: white;
}
button{
  background-color: #1a1a1a;
  border-radius: 13px;
  border: none;
}
.btn{
  width: 120px;
  height: 60px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}
.App h1{
  font-size: 40px;
}
.intentos{
  font-size: 20px;
  font-weight: 600;
}
.palabra{
  font-size: 25px;
}